@{
    ViewBag.Title = "Contacto";
}

<address>
  
    Guadalupe, San José, Costa Rica<br />

</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:soportepagina@example.com">soportepagina@example.com</a><br />
    <strong>Nuestro email:</strong> <a href="mailto:dermo@example.com">dermo@example.com</a>
</address>