@model IEnumerable<SolutionMvc2.Models.Producto1>

@{
    ViewBag.Title = "ListaProductos";
}

<h2>Productos de la Tienda</h2>

@Html.ActionLink("Ver carrito de la compra", "ProductosCarrito", "Producto")
<br />

<table class="table table-striped">
    <tr>
        <th>NOMBRE</th>
        <th>PRECIO</th>
        <th>IMAGEN</th>
        <th>COMPRAR</th>
    </tr>
    @foreach (var prod in Model)
    {
        <tr>

            <td>@prod.Nombre</td>
            <td>@prod.Precio ₡ </td>
            <td><img style="width:70px;height:70px" src="~/Content/images/@prod.Referencia" /></td>

            @if (ViewBag.Carrito != null && ViewBag.Carrito.Contains(prod.Id_Producto))
            {
                <td><img style="width:20px;height:20px" src="https://image.flaticon.com/icons/png/512/107/107831.png" /><span> Añadido al carrito</span></td>
            }
            else
            {
                <td>@Html.ActionLink("Añadir al carrito", "ListaProductos", "Producto", new { id = prod.Id_Producto }, new { @class = "btn btn-primary" })</td>
            }
        </tr>
    }
</table>
